@model ITunes_API_dotnet_site.Models.Application;

@section head {
    <title>@Model.trackName</title>
}


<div class="row">
    <div class="col-3">
        <div class="card">
            <img class="card-img" src=@Model.artworkUrl100 alt="Avatar" style="width:100%">
            <div class="container">
                <p class="card-title" style="font-size: x-large;"><a href=@Model.trackViewUrl target="_blank">@Model.trackName</a></p>
                <p style="font-size:10px">@Model.artistName</p>

                <p>Genre:</p>

                <p style="font-size:10px">@Model.primaryGenreName</p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <h2>@Model.trackName </h2>

        </br>
        @Model.artistName
        </br>
        @string.Format("{0:0.00}", Model.averageUserRating) Stars
        </br>
        @Model.UserRatingCount Ratings
        </br>
        @Model.formattedPrice
        </br>
        Offers In-App Purchases
        </br>
        @Model.contentAdvisoryRating
    </div>
</div>
@*APP DESCRIPTION*@
<div class="row">
    <h2 class="col-12">Description</h2>
</div>

<div class="row">
    <p class="col-12">@Html.Raw(Model.description.Replace("\n", "<br />"))</p>
</div>

@*APP INFORMATION*@
<div class="row">
    <h2 class="col-12">Information</h2>
</div>
<div class="row">
    <style>
        table, td {
            padding: 5px;
        }

        td {
            vertical-align: top;
        }

        tbody > tr > :nth-child(1) {
            text-align: right;
        }

        tbody > tr > :nth-child(3) {
            text-align: right;
        }
    </style>
    <table class="col-12">
        <tr>
            <td><b>Seller</b></td>
            <td>@Model.sellerName</td>
        </tr>
        <tr>
            <td><b>Category</b></td>
            <td>@Model.primaryGenreName</td>
        </tr>
        <tr>
            <td><b>Advisory</b></td>
            <td>@Model.contentAdvisoryRating</td>
        </tr>
        <tr>
            <td><b>Price</b></td>
            <td>@Model.formattedPrice</td>
        </tr>
        <tr>
            <td><b>Version</b></td>
            <td>@Model.version</td>
        </tr>
        <tr>
            <td><b>Release Date</b></td>
            <td>@Model.releaseDate</td>
        </tr>
        <tr>
            <td><b>Release Notes</b></td>
            <td>@Html.Raw(Model.releaseNotes.Replace("\n", "<br />"))</td>
        </tr>
    </table>

</div>

@*APP REVIEWS*@


<div class="row">
    @if (Model.reviews != null)
    {
        <div class="row">
            <h2 class="col-12" style="margin-bottom: 0;padding-bottom: 0;">User Reviews</h2>
        </div>
        @foreach (Models.Review review in Model.reviews)
        {
            @*name*@
            <div class="row">
                <div class="col-12" style="margin-bottom: 0;padding-bottom:0;margin-top: 0;">
                    <p style="margin-bottom: 0;padding-bottom:0;margin-top: 0;">@review.username</p>
                </div>
            </div>
            @*Rating*@
            <div class="row">
                <div class="col-12" style="margin-bottom: 0;padding-bottom: 0;margin-top: 0; padding-top:4px;">
                    @Html.Raw(review.rating >= 1 ? "<i class='fa fa-star'></i>" : "<i class='fa fa-star-o'></i>")
                    @Html.Raw(review.rating >= 2 ? "<i class='fa fa-star'></i>" : "<i class='fa fa-star-o'></i>")
                    @Html.Raw(review.rating >= 3 ? "<i class='fa fa-star'></i>" : "<i class='fa fa-star-o'></i>")
                    @Html.Raw(review.rating >= 4 ? "<i class='fa fa-star'></i>" : "<i class='fa fa-star-o'></i>")
                    @Html.Raw(review.rating >= 5 ? "<i class='fa fa-star'></i>" : "<i class='fa fa-star-o'></i>")
                </div>
            </div>
            @*title*@
            <div class="row">
                <div class="col-12" style="margin-bottom: 0;padding-bottom: 0;margin-top: 0;">
                    <h5 style="margin-bottom: 0;padding-bottom: 0;margin-top: 0;">@review.title</h5>
                    <p style="margin-bottom: 0;padding-bottom: 0;margin-top: 0;">@review.review</p>
                </div>
            </div>

            <div class="row" style="margin-left:1em; margin-top: 1em;">
                <i class="fa fa-edit" onclick="toggleReview(@review.reviewId)"></i>
                <a href="@("/Apps/Detail/" + @Model.trackId +  "/Review/Delete/" + review.reviewId)" style="color: black;" onclick="return confirm('Are you sure you want to delete this review?');">
                    <i class="fa fa-trash" style="margin-left: 4px;"></i>
                </a>
            </div>

            <partial name="Review" model="review" />

            <hr style="color: lightgray;" />
        }
    }
</div>


<div class="row" style="margin-bottom: 5em;">
    <h2 class="col-12" style="margin-left:0;">Write a Review:</h2>
    <partial name="Review" model="new ITunes_API_dotnet_site.Models.Review() { app = @Model }" />
</div>

@section Scripts {
    <script>
        function toggleReview(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}